<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="retrobox.v2.vicec64"
	  android:sharedUserId="psychoworld.retrobox.v2"
	  android:versionCode="24003"
	  android:versionName="2.4.0.03"
	  android:installLocation="auto"
>
	<application android:label="@string/app_name"
				 android:icon="@drawable/icon"
				 android:allowBackup="true"
				 android:banner="@drawable/banner"
				 android:isGame="true"
	>
		<activity android:name="atua.anddev.vicec64.MainActivity"
				  android:label="@string/app_name"
				  android:alwaysRetainTaskState="true"
				  android:launchMode="singleTask"
				  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
				  android:windowSoftInputMode="stateUnspecified"
				  android:screenOrientation="sensorLandscape"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" /> <!-- Samsung's multiwindow -->
				<action android:name="com.sec.android.airview.HOVER" /> <!-- Stupid Samsung requires their own intent for finger-hover events -->
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" /> <!-- Android TV requires this -->
			</intent-filter>
			<intent-filter>
				<action android:name="retrobox.v2.c64" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain"/>
			</intent-filter>			
		</activity>
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" /> <!-- Samsung's multiwindow -->
		<activity android:name="atua.anddev.vicec64.RestartMainActivity"
				  android:label="@string/app_name"
				  android:alwaysRetainTaskState="true"
				  android:launchMode="singleTask"
				  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
				  android:windowSoftInputMode="stateUnspecified"
				  android:process=":RestartMainActivity"
				  android:screenOrientation="sensorLandscape"
		/>
		<service android:name="atua.anddev.vicec64.DummyService"
				 android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
				 android:enabled="true"
				 android:screenOrientation="sensorLandscape"
		/>
	</application>

	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23"/>
	<!-- ==INTERNET== --> <uses-permission android:name="android.permission.INTERNET" />
	<!-- ==EXTERNAL_STORAGE== --> <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- ==EXTERNAL_STORAGE== --> <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<!-- <uses-permission android:name="android.permission.VIBRATE"></uses-permission> --> <!-- Vibrator not supported yet by SDL -->

	<uses-feature android:name="android.hardware.touchscreen" android:required="false" /> <!-- Allow TV boxes -->
	<uses-feature android:name="android.software.leanback" android:required="false" /> <!-- Android TV requires this -->
	<uses-feature android:name="android.hardware.microphone" android:required="false" /> <!-- Android TV requires this -->
	<uses-feature android:name="android.hardware.gamepad" android:required="false"/> <!-- Android TV requires this -->
	<!-- ==SCREEN-SIZE-SMALL== --> <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />

</manifest>
